/* MAIN PAGE */

body    {
    color: #fff;
    /* background-color: #000; */
    /* font-weight: 100; */
}

.lr-synopsis__index {
    position: absolute;
    width: 90%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    font-size: 18px;
}

#lr-syn1__index {
    /* margin-top: 20%; */
    font-family: 'Cormorant Upright', serif;  
    font-size: 30px;
    text-align: center; 
    display: none;
}

#lr-syn2__index {
    /* margin-top: -27px; */
    font-size: 30px; 
    font-family: 'Cormorant Upright', serif;  
    text-align: center; 
    display: none;
}


#lr-syn3__index,
#lr-syn4__index,
#lr-syn5__index,
#lr-syn6__index,
#lr-syn7__index,
#lr-syn8__index,
#lr-syn9__index,
#lr-syn10__index {
    /* position: relative; */
    display: none;
}

#lr-screen-img__index   {
    border: solid 8px #2b2b2b;
    width: 100%;
    /* position: relative; */
    /* display: none; */
    /* position: relative; */
    /* opacity: 0.5; */
    /* z-index: -1; */
    /* display: none; */
}
