body    {
    color: #a39555;
    background-color: #000;
    /* font-family: 'Cinzel', serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Notable', sans-serif;
    font-family: 'Averia Libre', cursive;
    font-family: 'IM Fell DW Pica SC', serif;
    font-family: 'Cormorant Upright', serif;
    font-family: 'IM Fell DW Pica', serif; */
}

.leah-rose-container    {
    position: relative;
    text-align: center;
}

#lr-full   {
    position: relative;
    opacity: 0.5;
    width: 100%;
}

.lr-title1   {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', serif;
    font-size: 120px;
}


.synopsis-container   {
    position: relative;
    /* text-align: center; */
}

#low-man-img    {
    position: relative;
    opacity: 0.25;
    width: 100%;
}

h3  {
    position: absolute;
    /* text-align: center; */
    width: 90%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'IM Fell DW Pica', serif;  
    font-size: 30px;
}

/* h4  {
    position: absolute;
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', serif;
    font-size: 30px;
} */

/* .container  {
    padding-bottom: 100px;
} */

/* .lr-syn {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
} */

.lr-syn   {
    position: absolute;
    width: 90%;
    /* margin-top: -90%; */
    margin-left: 20px;
    padding-bottom: 200px;
    /* margin-top: -100px; */
    /* transform: translate(-50%, -50%); */
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn1   {
    /* position: absolute; */
    /* width: 90%; */
    /* top: 4%; */
    /* left: 50%; */
    margin-bottom: 10px;
    /* transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px; */
}

#lr-syn2   {
    /* position: absolute;
    width: 90%; */
    /* top: 6%; */
    /* left: 50%; */
    margin-bottom: 10px;
    /* transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px; */
}

#lr-syn3   {
    margin-bottom: 10px;
}

#lr-syn4   {
    margin-bottom: 10px;
}

#lr-syn5   {
    margin-bottom: 10px;
}

#lr-syn6   {
    margin-bottom: 10px;
}

#lr-syn7   {
    margin-bottom: 10px;
}

#lr-syn8   {
    margin-bottom: 10px;
}


.lr-poster-container    {
    width: 100%;
    height: 1400px;
    /* margin-top: 400px; */
    text-align: center;
}

#leah-rose-tag  {
    text-align: center;
    padding-top: 500px;
    margin-bottom: 40px;
    font-family: 'Cinzel', serif;
    /* font-family: 'Diplomata', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Josefin Slab', serif;
    font-family: 'Notable', sans-serif;
    font-family: 'Averia Libre', cursive;
    font-family: 'IM Fell DW Pica SC', serif; */
    /* font-family: 'Cormorant Upright', serif;
    font-family: 'IM Fell DW Pica', serif;  */
    font-size: 28px;
}


.leah-rose-title-two    {
    
        position: absolute;
        text-align: center;
        width: 100%;
        /* top: 50%;
        left: 50%; */
        /* transform: translate(-50%, -50%); */
        font-family: 'Cinzel', serif;
        font-size: 120px;

}




@media only screen and (max-width: 980px) {

    /* max-width: 768px; */
}

@media only screen and (max-width: 768px) {

    /* max-width: 640px; */
}

@media only screen and (max-width: 640px) {
    #lr-syn1,
    #lr-syn2,
    #lr-syn3,
    #lr-syn4,
    #lr-syn5,
    #lr-syn6,
    #lr-syn7,
    #lr-syn8
    {
        font-size: 12px;
        text-align: center;
        /* margin-bottom: 100px; */
    }
  
    /* max-width: 640px; */
}

/* @mixin for-phone-only  {
    @media (max-width: 340px)
} */
























.fishtown-title  {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-100%, -100%);
    color: #927e3d;
    font-size: 30px;
}

/* .poster-image:hover   {

} */