body    {
    color: #a39555;
    background-color: #000;
    /* font-family: 'Cinzel', serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Notable', sans-serif;
    font-family: 'Averia Libre', cursive;
    font-family: 'IM Fell DW Pica SC', serif;
    font-family: 'Cormorant Upright', serif;
    font-family: 'IM Fell DW Pica', serif; */
}

.leah-rose-container    {
    position: relative;
    text-align: center;
}

#lr-full   {
    position: relative;
    opacity: 0.5;
    width: 100%;
}

.lr-title1   {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', serif;
    font-size: 120px;
}


.synopsis-container   {
    position: relative;
    /* text-align: center; */
}

#low-man-img    {
    position: relative;
    opacity: 0.25;
    width: 100%;
}

h3  {
    position: absolute;
    /* text-align: center; */
    width: 90%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'IM Fell DW Pica', serif;  
    font-size: 30px;
}

/* h4  {
    position: absolute;
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', serif;
    font-size: 30px;
} */

#lr-syn1   {
    position: absolute;
    width: 90%;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn2   {
    position: absolute;
    width: 90%;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn3   {
    position: absolute;
    width: 90%;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn4   {
    position: absolute;
    width: 90%;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn5   {
    position: absolute;
    width: 90%;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn6   {
    position: absolute;
    width: 90%;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn7   {
    position: absolute;
    width: 90%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}

#lr-syn8   {
    position: absolute;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Upright', serif;  
    font-size: 25px;
}


.lr-poster-container    {
    width: 100%;
    height: 1400px;
}































.fishtown-title  {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-100%, -100%);
    color: #927e3d;
    font-size: 30px;
}

/* .poster-image:hover   {

} */