body    {
    color: #a39555;
    background-color: #000;}

/* MAIN PAGE */    

.leah-rose-container    {
    position: relative;
    text-align: center;
}

#lr-full   {
    position: relative;
    opacity: 0.5;
    width: 100%;
}

.lr-title1   {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', serif;
    font-size: 120px;
}


/* LEAH ROSE PAGE */
#low-man-img    {
    position: relative;
    opacity: 0.5;
    width: 100%;
}

.lr-syn   {
    position: absolute;
    width: 90%;
    margin-top: 20px;
    margin-left: 2.5%;
    font-family: 'Cormorant Upright', serif;  
    font-size: 32px;
}

#lr-syn1   {
    font-size: 100px; 
    display: none;
}

#lr-syn2   {
    margin-bottom: 4%;
    font-size: 100px; 
    display: none;
}

#lr-syn3,
#lr-syn4,
#lr-syn5,
#lr-syn6,
#lr-syn7,
#lr-syn8
{
    display: none;
}


#leah-rose-tag  {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
    font-family: 'Cinzel', serif;
    font-size: 28px;
    display: none;
}

.leah-rose-title-two    {
        position: absolute;
        text-align: center;
        width: 100%;
        padding-top: 250px;
        font-family: 'Cinzel', serif;
        font-size: 120px;
        display: none;
}

@media only screen and (max-width: 1200px) {
    #lr-syn,
    #lr-syn1,
    #lr-syn2
    {
        font-size: 50px;
    }

        #lr-syn3,
        #lr-syn4,
        #lr-syn5,
        #lr-syn6,
        #lr-syn7,
        #lr-syn8
        {
            font-size: 27px;
        }

        .leah-rose-title-two    {
            padding-top: 300px;
    }

@media only screen and (max-width: 1000px) {
    #lr-syn,
    #lr-syn1,
    #lr-syn2
    {
        font-size: 30px;
        text-align: center;

    }

        #lr-syn3,
        #lr-syn4,
        #lr-syn5,
        #lr-syn6,
        #lr-syn7,
        #lr-syn8
        {
            font-size: 20px;
            text-align: center;
            margin: 2.5%;
        }

        @media only screen and (max-width: 768px) {
            #lr-syn,
            #lr-syn1,
            #lr-syn2
            {
                font-size: 20px;
                text-align: center;
            }

            #lr-syn3,
            #lr-syn4,
            #lr-syn5,
            #lr-syn6,
            #lr-syn7,
            #lr-syn8
            {
                font-size: 14px;
                text-align: center;
                margin: 2.5%;
            }
        }

@media only screen and (max-width: 500px) {
    #lr-syn,
    #lr-syn1,
    #lr-syn2
    {
        font-size: 14px;
        text-align: center;
    }

        #lr-syn3,
        #lr-syn4,
        #lr-syn5,
        #lr-syn6,
        #lr-syn7,
        #lr-syn8
        {
            font-size: 11px;
            text-align: center;
            margin: 2%;
        }

        .leah-rose-title-two    {
            padding-top: 350px;
    }
}


























.fishtown-title  {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-100%, -100%);
    color: #927e3d;
    font-size: 30px;
}

/* .poster-image:hover   {

} */